/*global*/

#conteneur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 5%;
}

a {
    text-decoration: none;
    color: black
}

body {
    font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

::placeholder {
    color: black;
    opacity: unset;
    font-weight: bold;
}

/* Footer */

footer {
    background-color: grey;
}

.conteneur-footer {
    display: flex;
}

.conteneur-footer .footer-item {
    flex-basis: 50%;
    padding: 10px 20px;
}

.footer-item h3 {
    font-size: 1.125rem;
    font-weight: 600;
}

/*navigation*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-link {
    padding: 50px 20px 0px 20px;
}

.nav-register {
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    color: #0065fc;
}

.nav-link:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

/*formulaire*/

.recherche h1 {
    font-size: 22px;
    padding-bottom: 5px;
}

.recherche p {
    font-size: 16px;
    padding-bottom: 50px;
}

.formulaire-recherche {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 50px;
}

.formulaire-recherche i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 52px;
    border-radius: 1.5rem 0 0 1.5rem;
    background-color: #f2f2f2;
}

.formulaire-recherche input {
    border-left: 0;
    border-right: 0;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    padding-left: 15px;
    width: 218px;
}

.formulaire-recherche button {
    border-radius: 0 1.5rem 1.5rem 0;
    border: none;
    font-weight: bold;
    background-color: #0065fc;
    color: white;
    padding: 0px 20px 0px 20px;
    width: 138px;
}

/*filtres*/

.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 50px;
}

.filtres h2 {
    font-size: 17px;
    padding-right: 16px;
}

.filtres button {
    display: flex;
    margin-right: 50px;
    flex-wrap: wrap;
    border-radius: 50px;
    border: 2px solid #f2f2f2;
    background-color: white;
    font-weight: bold;
}

.filtres button i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #deebff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #0065fc;
}

.filtres button span {
    display: flex;
    height: 40px;
    min-width: 67px;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 10px;
}

/*info*/

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 50px;
    align-items: baseline;
}

.info i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f2f2f2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #0065fc;
}

.info p {
    padding-left: 20px;
}

/*footer*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    margin-top: 6rem;
    height: 15rem;
}

.footer-item h3 {
    font-size: 15px;
    padding-top: 3rem;
}

.footer-item li {
    padding-top: 20px;
    font-size: 15px;
    list-style: none;
}

/*tourisme a marseille*/

.tourisme-a-marseille {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*repartition des conteneur*/

.hebergement-a-marseille {
    flex-basis: 65%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.les-plus-populaires {
    flex-basis: 32%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

/* hébergements à marseille */

.hebergement-a-marseille h2 {
    font-size: 15px;
    padding: 15px 15px 15px 15px;
}

.hebergement-cartes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 50px;
    width: 90%;
    margin: 0 auto;
}

.hebergement-carte-item a {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: white;
    box-shadow: 0px 0px 5px #b1b1b1;
    border-radius: 1.5rem;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.hebergement-carte-item img {
    height: 6rem;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
}

.hebergemnt-carte-contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 90px;
    padding: 10px 0 0 15px;
}

/*les plus populaires*/

.les-plus-populaires-header {
    /*on fait du flex, on met en ligne ,on space-between*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1.5rem 2rem 1rem 1.5rem;
}

.les-plus-populaires-header h2 {
    font-size: 15px;
}

.les-plus-populaires-header i {
    font-size: 15px;
}

.populaire-cartes {
    /* display grid ; grid-template-columns: ;  grid-template-rows: ; grid-gap: ;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* il y a autant de cartes que de ligne*/
    grid-gap: 30px;
    width: 80%;
    margin: auto;
    /* cela va nous servir à centrer les cartes au milieu sans valeur en dure*/
    padding-top: 20px;
}

.populaire-carte-item a {
    /* display flex, on met en ligne   box-shadow background-color ; borderradius */
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px #a1a1a1;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    background-color: white;
    padding: 5px;
}

.populaire-carte-item img {
    height: 5rem;
    max-width: 35%;
    min-width: 35%;
    object-fit: cover;
    /* evite que les images ne s'écrase */
    border-radius: 1.5rem 0px 0px 1.5rem;
}

.populaire-carte-header-contenu {
    display: flex;
    flex-direction: column;
}

.populaire-carte-contenu {
    /* flex; column; space-between*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 15px 20px;
}

.fa-star {
    color: #0065fc;
}

.star-grey {
    color: #b1b1b1;
}

.populaire-carte-contenu h3 {
    font-size: 20px;
}

.populaire-carte-contenu p {
    font-size: 20px;
}

/*activites a marseille*/

.title_activities {
    margin-top: 60px;
}

.marseille_activities {
    display: flex;
    justify-content: space-between;
}

.marseille_activities .vp {
    text-decoration-line: none;
    color: black;
    width: 22%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    border: 2px solid #F2F2F2;
}

.marseille_activities h4 {
    padding-left: 10px;
}

.vieux_port img {
    width: 100%;
    height: 35vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.pomegues_frioul {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pomegues_frioul .po {
    width: 100%;
    height: 55%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    border: 2px solid #F2F2F2;
}

.pomegues {
    height: 100%;
}

.pomegues_frioul .fri {
    width: 100%;
    height: 35%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    border: 2px solid #F2F2F2;
}

.frioul {
    height: 100%;
}

.pomegues img {
    width: 100%;
    height: 17vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.frioul img {
    width: 100%;
    height: 9vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.cal {
    width: 22%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    border: 2px solid #F2F2F2;
}

.calanques img {
    width: 100%;
    height: 35vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.notredame_longchamp {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notredame_longchamp .nd {
    width: 100%;
    height: 55%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    border: 2px solid #F2F2F2;
}

.notredame {
    height: 100%;
}

.notredame_longchamp .lo {
    width: 100%;
    height: 35%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    border: 2px solid #F2F2F2;
}

.longchamp {
    height: 100%;
}

.notredame img {
    width: 100%;
    height: 17vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.longchamp img {
    width: 100%;
    height: 9vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}