#conteneur{
    
    display: flex;
    flex-direction: column;
    
}
.element
{
    width: 500px;
    height: 100px;
   
    
}
.tourisme-a-marseille{
    background-color: mediumaquamarine;
}
.hebergement-a-marseille{
    background-color: mediumvioletred;
}
.les-plus-populaires{
    background-color: orangered;
}
header{
     
    border: 5px solid black;

}